    <!DOCTYPE html>


    <html>






    <body>
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/animate.css">
       <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
 
      <div class="image">

       <%= image_tag "mainpic.jpg",class:"background_image"%>




       <div class="title">
        <h1 class="wow wobble" data-wow-delay="2s" data-wow-duration="2s"><i class="fa fa-coffee" aria-hidden="true"></i> Nuts & Tea</h1>



        <div class="social">
          <a href="https://www.facebook.com/nutsandtea/" target="_blank"><i class="fbcolor fa fa-facebook-square fa-4x"></i></a>

          <a href="https://twitter.com/nuts_and_tea" target="_blank"><i class="twcolor fa fa-twitter-square fa-4x"></i></a>

          <a href="https://www.instagram.com/nutsandtea/" target="_blank"><i class="incolor fa fa-instagram fa-4x"></i></a>
        </div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i>
    language
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><a href="/en">English</a></li>
    <li><a href="/de">German</a></li>
    <li><a href="/ar">عربي</a></li>
    <li><a href="/fr">French</a></li>
  </ul>
</div>
 

        <section class="main">
          <a class="arrow-wrap" onclick="smoothScroll(document.getElementById('second'))">
            <span class="arrow"></span>
            <!--<span class="hint">scroll</span>-->
          </a>
        </section>

      </div>








    </div>



    <hr class="featurette-divider">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="second" id="second">

      <div class="container marketing">

       <!-- Three columns of text below the carousel -->
       <div class="row">
        <div class="col-lg-12">


          <h2 class="wow animated flip" data-wow-duration="2s" data-wow-delay="2s"><i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i> <%= t "idea.title" %></h2>
          <p><%= t "idea.text" %></p> 

          <p><%= t "idea.text2" %></p>





        </div><!-- /.col-lg-4 -->
        <div class="col-lg-12">


          <h2 class="wow animated flip" data-wow-duration="2s" data-wow-delay="2s"><i class="fa fa-share-alt fa-2x" aria-hidden="true"></i> <%= t "share.title" %></h2>
            <p><%= t "share.text" %></p>



          </div><!-- /.col-lg-4 -->
          <div class="col-lg-12">

            <h2 class="wow animated flip" data-wow-duration="2s" data-wow-delay="2s"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> <%= t "why.title" %>"Nuts&Tea" ? </h2>
            <div>
              <p class="whyp"><%= t "why.text" %></p>
            </div>

          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->
        <div class="backgroundcolor">

        </div>

        <hr class="featurette-divider">
        <h3 ><i class="fa fa-users" aria-hidden="true"></i> <%= t "who.title" %></h3><br ><br>


        
        <div class="col-md-12 text-center">
          <div class="col-md-6">
            <h2 class="wow animated tada" data-wow-duration="2s" data-wow-delay="2s"><i class="fa fa-database fa-2x" aria-hidden="true"></i>  Muhammed. <span class="text-muted">Think creative.</span></h2>

            <%= image_tag "mhd.jpg",class:"ourpics img-responsive img-thumbnail"%>

            <div class="iconspos2">
             <div>    
             <a class="label label-primary" href="https://web.facebook.com/smoothm2" target="blank" role="button">Facebook</a>
            </div>
            <div>
              <a class="label label-danger" href="https://plus.google.com/107697051597188767713" target="blank" role="button">Mail</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">

          <h2 class="wow animated tada" data-wow-duration="2s" data-wow-delay="2s"><i class="fa fa-code fa-2x" aria-hidden="true"></i> Rami. <span class="text-muted">Use technology.</span></h2>

          <%= image_tag "rami.jpg",class:"ourpics img-responsive img-thumbnail"%>



          <div class="iconspos">
            <div>
             <a class="label label-primary" href="https://web.facebook.com/ramy.ramboo" target="blank" role="button">Facebook</a>
           </div>
           <div>
             <a class="label label-danger" href="https://plus.google.com/u/0/109490711832390739311/posts" target="blank" role="button">Mail</a>
           </div>
         </div>

       </div>

       <div class="col-md-12">
        <p class="lead"><%= t "who.aboutus1" %></p>
        <p class="lead"><%= t "who.aboutus2" %></p>
        <p class="lead"><%= t "who.aboutus3" %></p><br><br><br>
        </div>





      </div>


      <hr class="featurette-divider">

    </div>

  </div>
  <!-- /END THE FEATURETTES -->




  <div class="container">
    <div class="row">
     <div class="span12">
      <div class="thumbnail center well well-small text-center">
       <!-- Begin MailChimp Signup Form -->
       <div id="mc_embed_signup">
        <form action="//facebook.us1.list-manage.com/subscribe/post?u=71c819ed3e41f17b0f7f13bcf&amp;id=929554bb8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
           <label for="mce-EMAIL"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><%= t "subscribe.title" %></label><br>
           <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="     email address" required>
           <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
           <div ><input type="text" name="b_71c819ed3e41f17b0f7f13bcf_929554bb8b" tabindex="-1" value="" class="hidden"></div><br>
           <div class="clear"><input class="animated infinite bounce button btn btn-primary btn-danger" type="submit" value="<%= t "subscribe.button" %>" name="subscribe" id="mc-embedded-subscribe"></div>
         </div>
       </form>
     </div>
   </div>    
 </div>
</div>
</div>
<!--End mc_embed_signup-->








<link href='http://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500' rel='stylesheet' type='text/css'>










<footer>
  <p class="colorblack">&copy; 2016 Muhammed&Rami, Inc.
  
      



      


    </div>
  </div>
  </footer>

</body>
</html>